<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true"/>
    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="sidebar">
            <li onclick=hideSidebar()><a href="#"><svg class="menu" xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
            <p class="itm-1">SurveyApp</p>

                    <li tabindex="0">
                        <a href="../Home/Index">
                            <svg class="icons" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-200q-33 0-56.5-23.5T40-280v-400q0-33 23.5-56.5T120-760h400q33 0 56.5 23.5T600-680v400q0 33-23.5 56.5T520-200H120Zm0-80h400v-400H120v400Zm560 80v-560h80v560h-80Zm160 0v-560h80v560h-80Zm-720-80v-400 400Z"/></svg>
                            Home
                        </a>
                    </li>
                    <li tabindex="0">
                        <a href="../Dashboard/Index">
                            <svg class="icons" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-200q-33 0-56.5-23.5T40-280v-400q0-33 23.5-56.5T120-760h400q33 0 56.5 23.5T600-680v400q0 33-23.5 56.5T520-200H120Zm0-80h400v-400H120v400Zm560 80v-560h80v560h-80Zm160 0v-560h80v560h-80Zm-720-80v-400 400Z"/></svg>
                            General info
                        </a>
                    </li>
                    <li tabindex="0">
                        <a href="../Dashboard/Surveylist">
                            <svg class="icons" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M160-120q-33 0-56.5-23.5T80-200v-560q0-33 23.5-56.5T160-840h640q33 0 56.5 23.5T880-760v560q0 33-23.5 56.5T800-120H160Zm0-80h640v-560H160v560Zm40-80h200v-80H200v80Zm382-80 198-198-57-57-141 142-57-57-56 57 113 113Zm-382-80h200v-80H200v80Zm0-160h200v-80H200v80Zm-40 400v-560 560Z"/></svg>
                            Surveys
                        </a>
                    </li>
                    <li tabindex="0">
                        <a href="#">
                            <svg class="icons" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-80q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80Zm0-84q97-30 162-118.5T718-480H480v-315l-240 90v207q0 7 2 18h238v316Z"/></svg>
                            Security
                        </a>
                    </li>
                    <li tabindex="0">
                        <a href="../About/Index">
                            <svg class="icons" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
                            About Us
                        </a>
                    </li>
                    <li tabindex="0">
                        <a href="#">
                            <svg class="icons" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
                            Contact Us
                        </a>
                    </li>
                    <li tabindex="0">
                        <a href="../Login/Index">
                            <svg class="icons" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg>
                            Logout
                        </a>
                    </li>

                <div class="cont-us">
                    <h6>Have any problem with how to manage your dashboard?</h6>
                    <div>Contact Us</div>
                </div>
        </ul>
        <ul class="header">
            <li class="appname" ><a href="#">SurveyApp</a></li>
            <li class="hideOnMobile"><a href="../About/Index">About</a></li>
            <li class="hideOnMobile"><a href="#">Contact</a></li>
            <li class="hideOnMobile"><a href="../Dashboard/Index">Survey</a></li>
            <li class="hideOnMobile"><a href="../Dashboard/Index">Dashboard</a></li>

            <li class="menu-btn" onclick=showSidebar()>
                <a href="#">
                    <svg class="menu" xmlns="http://www.w3.org/2000/svg" height="26" viewBox="0 -960 960 960" width="26"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
                </a>
            </li>
            
        </ul> 
        <ul class="logging-btns hideOnMobile">
            <li class="hideOnLogin"><a href="../Login/Index">Login</a></li>
        </ul>
    </nav>

    <div class="main">
        <div class="card1">
            <img class="img hideOnMobile" src="~/images/survey.jpg"/>
            <h1>Enhance a Safe and Bully-Free Environment with Us!</h1>
            <p>Mari bersama-sama menciptakan lingkungan yang aman dan bebas dari perundungan.</p>
            <div class="apply">Apply Now<svg class="menu" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m560-240-56-58 142-142H160v-80h486L504-662l56-58 240 240-240 240Z"/></svg>
            </div>
            <div class="stat">
                <div class="responded">
                    <p>Responded</p>
                    <p class="num">3,565</p>
                </div>
                <div class="survey">
                    <p>Survey</p>
                    <p class="num">41+</p>
                </div>
            </div>
        </div>
        <div class="card2">
            <h1 class="heading">Survey</h1>
            <div class="btns">
                <p class="btn1">Perundungan</p>
                <div class="btn2">Rasis</div>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <p>Survey Perundungan</p>
                    <p>Feedback Survey</p>
                    <p class="margin">42 Respon</p>
                </div>
                <div class="grid-item">
                    <p>Survey Perundungan</p>
                    <p>Feedback Survey</p>
                    <p class="margin">42 Respon</p>
                </div>
                <div class="grid-item">
                    <p>Survey Perundungan</p>
                    <p>Feedback Survey</p>
                    <p class="margin">42 Respon</p>
                </div>
                <div class="grid-item">
                    <p>Survey Perundungan</p>
                    <p>Feedback Survey</p>
                    <p class="margin">42 Respon</p>
                </div>
                <div class="grid-item">
                    <p>Survey Perundungan</p>
                    <p>Feedback Survey</p>
                    <p class="margin">42 Respon</p>
                </div>
                <div class="grid-item">
                    <p>Survey Perundungan</p>
                    <p>Feedback Survey</p>
                    <p class="margin">42 Respon</p>
                </div>
                <div class="grid-item">
                    <p>Survey Perundungan</p>
                    <p>Feedback Survey</p>
                    <p class="margin">42 Respon</p>
                </div>
                <div class="grid-item">
                    <p>Survey Perundungan</p>
                    <p>Feedback Survey</p>
                    <p class="margin">42 Respon</p>
                </div>
            </div>
              
        </div>
        <div class="card3">
            <h1>Join Our Survey</h1>
            <p style="margin-top: 20px;">"Tolak Perundungan: Bersama-sama Kita Hentikan Tindakan Merugikan Ini!"</p>
            <div class="login-now">Login Now</div>
        </div>
        <div class="footer">
            <div class="inner-div">
                <h2>Bebaskan Perundungan Bersama Kami</h2>
                <p style="margin-top: 50px;">"Mari bersama-sama menciptakan lingkungan yang aman dan bebas dari perundungan."</p>
                <div class="bottom-div">
                    <h3>SurveyApp</h3>
                    <p>© 2023 SurveyApp. All Rights Reserved.</p>
                </div>
            </div>
        </div>

    </div>
    <script>
        function showSidebar() {
    const sidebar = document.querySelector('.sidebar');
    sidebar.style.display = 'flex';

    // Add event listener to close sidebar when clicking outside of it
    document.addEventListener('click', closeSidebarOnClickOutside);

    // Prevent the click event on the button from propagating
    const button = document.querySelector('.menu-btn');
    button.addEventListener('click', stopPropagation);
}

function closeSidebarOnClickOutside(event) {
    const sidebar = document.querySelector('.sidebar');

    if (!sidebar.contains(event.target)) {
        sidebar.style.display = 'none';
        // Remove the event listener after hiding the sidebar
        document.removeEventListener('click', closeSidebarOnClickOutside);
    }
}

function stopPropagation(event) {
    event.stopPropagation();
}

        function hideSidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
        }
        function showSubmenu() {
            const submenu = document.querySelector('.sub-menu');
            const smul = document.querySelector('.sm-ul');
            submenu.style.display = 'block';
            smul.style.display = 'block';

            // Add event listener to document to close submenu when clicking outside of it
            document.addEventListener('click', closeSubmenuOnClickOutside);
        }

        function closeSubmenuOnClickOutside(event) {
            const submenu = document.querySelector('.sub-menu');
            const button = document.querySelector('.profile-icon');

            // Check if the click target is not within the submenu or the button
            if (!submenu.contains(event.target) && event.target !== button) {
               submenu.style.display = 'none';
               // Remove the event listener after hiding the submenu
               document.removeEventListener('click', closeSubmenuOnClickOutside);
            }
        }

    </script>
</body>
</html>